# Distribution / packaging
.Python
.venv/
__pycache__/
.pytest_cache
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

# node files for serverless plugins
node_modules/
package.json
package-lock.json

#
.env
.vscode
